
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-laypage-curr > .layui-laypage-em {
        background: #1E9FFF !important;
    }

    .layui-form-checked span, .layui-form-checked:hover span {
        background: #1E9FFF !important;
    }
</style>
<br />
<div class="layui-row">
    <form class="layui-form layui-col-md12 x-so" id="complain_search">
        <div class="layui-input-inline">
            <input type="text" name="serviceCode" id="serviceCode"
                   placeholder="标题搜索" autocomplete="off" class="layui-input">
        </div>
        <button id="search" class="layui-btn layui-btn-normal" lay-submit
                lay-filter="provinceSearch">
            <i class="layui-icon">&#xe615;</i>
        </button>
    </form>
</div>
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">

        <button class="layui-btn  layui-btn-sm layui-btn-normal" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="isAll">验证是否全选</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>

<script>


    window.onload = function () {
        function isEmpty(value) {
            return (Array.isArray(value) && value.length === 0)
                || (Object.prototype.isPrototypeOf(value) && Object.keys(value).length === 0);
        }
        layui.use('table', function () {
            var table = layui.table,
                form = layui.form,
                $ = layui.$,
                laypage = layui.laypage
            // 搜索
            laypage.render({
                elem: 'test'
                , theme: '#1E9FFF'
            });
            function PostInsertVal(obj, url) {
                $.ajax({
                    type: "post",
                    data: obj,
                    url: url,
                    success: function (data) {
                        if (data.code == 0) {

                            layer.msg("成功", { icon: 1 })
                            table.reload('test', {})
                            return
                        }
                        layer.msg("失败", { icon: 2 })
                    }, error: function (error) {
                        layer.msg("网络链接中断", { icon: 2 })
                    }
                })
            }
            form.on('checkbox(lockDemo)', function (obj) {
                //layer.tips(this.value + ' ' + this.name);
                console.log(this.value)
                PostInsertVal({ user_Id: obj.elem.getAttribute("data-articlesId"), user_Status: obj.elem.checked }, "/User/UserUpdataStatus")
            });
            form.on('submit(provinceSearch)', function (data) {
                var formData = data.field;
                console.log(formData.serviceCode);
                title = formData.serviceCode,
                    table.reload('test', {
                        where: {
                            title,
                        },
                        page: {
                            curr: 1
                        },
                        theme: '#1E9FFF',
                        method: 'post',
                        contentType: "application/json;charset=utf-8",
                        url: '/Admin/GetAdData',
                    });
                return false;
            });
            // 表格加载
            table.render({
                elem: '#test'
                , url: '/Admin/GetAdData'
                , toolbar: '#toolbarDemo'
                , title: '用户数据表'
                , totalRow: true
                , theme: '#1E9FFF'

                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'ad_Id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计' }
                    , { field: 'ad_UserName', title: '管理员账号' }
                    , { field: 'Ad_TypeName', title: '管理员类型', width: 120, }
                    , { field: 'Count', title: '文章数', width: 120, }
                    , { field: 'Opercount', title: '操作次数'}
                    , { fixed: 'right', title: '删除操作', toolbar: '#barDemo',width:100}
                ]]
                , page: true
            });
            // 操作栏 监听操作
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'del':
                        console.log(data)
                        layer.confirm('你确定要删除数据吗', function (index) {
                            $.ajax({
                                url: "/User/RemoveUser",
                                type: "post",
                                data: {
                                    user_Id: data.user_Id,
                                    user_Status: data.user_Status
                                },
                                dataType: "JSON",
                                success: function (res) {

                                    if (res.code == 0) {
                                        layer.msg(res.msg, { icon: 1 })

                                        obj.del()
                                        return;
                                    }
                                    layer.msg(res.msg, { icon: 2 })
                                }, error: function (error) {
                                    layui.msg("请检查网络", { icon: 2 })
                                }
                            })

                        });
                        break;
                    case "showimg":
                        layer.open({
                            type: 1,
                            title: false,
                            shade: 0.8,
                            skin: 'layui-layer-nobg',
                            area: ['auto'],
                            content: `<img src='${data.user_ImgUrl}' alt="文件路径有误请联系管理员火速替换" style="width:500px;height:500px" />`
                        });
                        break;
                }
            });
            //工具栏 监听
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选')
                        break;
                };
            });
        });
    }
</script>
